{% load static %}
<div class="container-fluid" style="padding-top:5px;margin-bottom:0;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12 text-center" style="padding:25px;padding-bottom: 0;">
                    <h2>Impressum</h2>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    <p class="paragraph-light">
      <strong>
       Verantwortlicher:
       <br>
       ‍
       <br>
      </strong>
      FLYBOOKERS
      <br>
      Inhaber
      Robert Iancu (Geschäftstührer)
      <br>
      AN DER WELLE 4
      <br>
      60322 FRANKFURT AM MAIN
      <br>
      <br>
      Booking Hotline 24 Hours:
      <br/>
   ‍   +49 178 - 7235268
      <br/>
      <br>
      Ust-ID: DE314985767
      <br/>
      <br/>
      <a href="mailto:info@flybookers.de" target="_blank">
       Email: info@flybookers.de
      </a>
      <br>
      ‍
      <!-- <p><strong>Steuernummer: </strong></p> -->
      <p><strong>Haftungsausschluss: Haftung für Inhalte </strong></p>
      <p>Die Inhalte unserer Webseite wurden mit großer Sorgfalt erstellt. Sie sollen für Kunden, Investoren, Medien und andere an den  RI VONOVA GMBH. interessierte Personen und Gesellschaften informativ sein. Wir verwenden angemessene Sorgfalt darauf, dass die Informationen zum Zeitpunkt der Einstellung in diese Webseite richtig sind. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Alle Angebote sind freibleibend und unverbindlich. Die Inhalte dieser Webseite können jederzeit von uns verändert, ergänzt oder gelöscht werden.Gem. §§ 8 bis 10 sind wir als Dienstanbieter nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf rechtswidrige Tätigkeiten hinweisen. </p>
      <br/>
      <p><strong>Haftung für Links</strong></p>
      <p>
          Diese Website enthält Links zu Webseiten Dritter. Auf den Inhalt dieser Webseiten hat die  RI VONOVA GMBH.keinen Einfluss. Deshalb können wir für die Inhalte dieser fremden Webseiten auf keine Gewähr übernehmen. Für die Inhalte der verlinkten Webseiten ist stets der jeweilige Anbieter oder Betreiber der Webseiten verantwortlich.
      </p>
      <br/>
      <p><strong>Datenschutz</strong></p>
      <p><a href="{% url 'privacy_policy' %}">Datenschutzerklärung</a></p>
      <br/>
      <p><strong>Urheberrecht</strong></p>
      <p>Die Inhalte und Werke auf dieser Webseite unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen der Urheberrechtes bedürfen der schriftlichen Zustimmung der RI VONOVA GMBH. Downloads und Kopien dieser Seite sind nur für den privaten Gebrauch nicht kommerziellen Gebrauch gestattet. Alle sonstigen gewerblichen Schutzrechte bleiben vorbehalten.</p>
      <br/>
                </div>
            </div>
        </div>
    </div>
</div>