{% load static %}
<div class="container-fluid" style="padding-top:5px;margin-bottom:0;border-top:1px dashed;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:25px;padding-bottom: 0;">
                    <h4>Das Urlaubsziel der Träume – für jeden etwas dabei</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    In jedem Jahr werden die beliebtesten Urlaubsziele der Deutschen ermittelt. Mancher erkennt sich im Trend wieder, andere nicht. Genau wie die Mode unterliegt das Ziel bei der Urlaubsreise bestimmten Trends. Diese können ganz weit weg in Mexiko, Indonesien oder Afrika liegen, in Europa wie Spanien, Türkei und Italien oder aber auch direkt vor der Haustür in Deutschland. Das hängt immer von den persönlichen Präferenzen
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    ab. Während der eine gern in der Sonne liegt, ist der andere lieber aktiv und möchte die Welt erkunden. Oder man nutzt den gesamten Jahresurlaub, um auf eine abenteuerliche Exkursion oder gar Weltreise zu gehen. Heutzutage findet jeder das passende Angebot. Das hängt jedoch immer auch vom Geldbeutel ab.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:0;margin-bottom:0;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:25px;padding-bottom: 0;padding-top:0;">
                    <h4>Günstig Flüge schonen den Geldbeutel</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Flüge innerhalb Europas oder auch in ferne Länder sind aufgrund der vielen Billigairlines heute für viele Menschen erschwinglich. Jedoch muss man bei der Buchung eines Billigflugs schnell sein, denn die Flüge an Feiertagen, in der Hauptsaison oder an Brückentagen sind meistens schnell ausgebucht. Wer beim Hin- und Rückflug flexibel ist, kann beim Urlaub deutlich sparen. Flüge um die Mittagszeit oder am späteren Abend sparen ebenfalls bares Geld, denn die meisten Menschen bevorzugen Flüge zwischen 8:00 und 18:00 Uhr.
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Wer dann noch beim Reiseziel nicht festgelegt ist, bucht einfach die Städte, für die er weniger Geld bezahlen muss. Jedoch sollte man sich auch bei billigen Flügen immer fragen, ob diese Angebote auch die besten sind. Manchmal sind die Flughäfen der Billigflug-Airlines weit entfernt vom Heimatort. Die hohen Benzinkosten für die Autofahrt zum Airport treiben dann die Gesamtkosten für den Urlaub in die Höhe.
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="padding-top:0;margin-bottom:0;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:25px;padding-bottom: 0;padding-top:0;">
                    <h4>Kurz mal weg in den Urlaub</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Das Wochenende oder günstige Brückentage für einen Kurzurlaub nutzen, liegt im Trend. Auch weite Ziele sind dank der günstigen Flugrouten schnell zu erreichen. Dazu kommt, dass man von vielen deutschen Flughäfen aus in die großen Metropolen der Welt fliegen kann. Ein Wochenende in Rom oder Paris für eine kurze Auszeit ist für viele nicht mehr nur ein Traum sondern Wirklichkeit. Innerhalb Deutschlands lohnt sich
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    das Fliegen in eine angesagte Stadt wie Hamburg oder Berlin. Als Erholungsurlaub dient so ein kurzer Trip in der Regel nicht. Er hilft jedoch sehr, den Horizont zu erweitern, neue Städte kennenzulernen und natürlich dem Alltag zu entfliehen. Und nicht zu vergessen: Urlaub bildet, egal ob nah oder fern.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding-top:0;margin-bottom:0;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:25px;padding-bottom: 0;padding-top:0;">
                    <h4>Den Traumurlaub zur richtigen Zeit genießen</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                     Wer ferne Länder ansteuert, muss seine Urlaubszeit besonders gut planen. Denn in den Zielen außerhalb Europas herrschen andere klimatische Bedingungen als in Deutschland. In kommt es in bestimmten Monaten zur Regenzeit. Möchte man am Urlaubsdomizil am Strand liegen und es regnet ununterbrochen, wird der
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Traumurlaub schnell zum Alptraum. Informiert man sich vorher über das Wetter vor Ort, ist man auf jeden Fall gut beraten. Auch wer in den Winterurlaub fahren möchte, sollte vorher wissen, ob in dem gewünschten Gebiet ausreichend Schnee liegt, damit dem Wintersportvergnügen nichts im Wege steht.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top:0;margin-bottom:0;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:25px;padding-bottom: 0;padding-top:0;">
                    <h4>Der Sonne entgegen bereits im Frühjahr</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Meist ist man im Frühling in Deutschland bereits auf Sonne eingestellt, doch Wolken und Regen stehen zuhause noch auf der Tagesordnung. In manchen Regionen gibt es aber ideale Urlaubsbedingungen, wie auf den Balearen-Inseln Mallorca oder Ibiza oder den Kanaren wie Gran Canaria oder Teneriffa. Doch auch Ziele in Afrika wie Tunesien und Ägypten eignen sich für einen Urlaub in die Sonne im Frühjahr. Eher ein
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Geheimtipp für Sonnenhungrige im Frühjahr sind die Kapverden. Hier gibt es kilometerlange Sandstrände und Wassertemperaturen über 20 Grad Celsius sowie Außentemperaturen von 25 Grad Celsius. Wer trotz Wärme im Urlaub nicht nur Baden will, ist in Dubai genau richtig. Als Urlaubsreisender ist man neben den Stränden von den vielen Shoppingmalls oder abenteuerlichen Wüstentouren begeistert.
                </div>
            </div>
        </div>
    </div>
</div>
