<div class="col-md-12" style="padding:0;padding-bottom: 15px;">
    <div class="col-md-10" style="padding:0">
        <span class="text-danger error_msg"></span>
    </div>
    <!--   <span style="top:25px;" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
    <div class="col-md-2" style="padding:0;">
        <div class="text-right">
            <!-- <span class="text-danger error_icon" style="display:none;"><span class="glyphicon glyphicon-remove"></span></span> -->
            <span class="text-success success_msg" style="display:none;"><span class="glyphicon glyphicon-ok"></span></span>
        </div>
    </div>
</div>
