<footer class="container-fluid" style="padding-top:20px;margin-bottom:0;background:#292b2c;">
    <div>
        <div class="col-md-12 text-center" style="padding: 5px 50px 5px 50px;color:#ccc;margin:0 0 15px;">
            <a style="color:inherit;cursor:pointer;">Impressum</a> |
            <a style="color:inherit;cursor:pointer;">Datenschutz</a> |
            <a style="color:inherit;cursor:pointer;">Kontakt</a>
        </div>
        <div class="col-md-12 text-center" style="padding: 5px 50px 5px 50px;color:#ccc;margin:0 0 15px;">
            © 2019 Flybookers
        </div>
    </div>
</footer>
