<script>
    $_1('head').append('<link rel="stylesheet" type="text/css" href="///code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">');
    $_1('head').append('<link rel="stylesheet" type="text/css" href="flightairline//resources/demos/style.css">');
    $_1(function () {
        var airports = ["aa"];
        $_1("#flight_from").autocomplete({
            source: function (request, response) {
                $.get("/airport/api", {q: request.term}, function (data) {
                    response(data);
                });
            },
        });
        $_1("#flight_to").autocomplete({
            source: function (request, response) {
                $.get("/airport/api", {q: request.term}, function (data) {
                    response(data);
                });
            },
        });
        $_1(function () {
            $_1.datepicker.setDefaults($_1.datepicker.regional["de"]);
            $_1("#departure_date").datepicker({minDate: 0});
            $_1("#return_flight_date").datepicker({minDate: 0});
        });
    });
    $_1(document).ready(function () {
            let allow_only_numbers_for_number_fields = function(){
                let number_elements = $("input[type='number']");

                let allow_delete = false;
                let last_correct_value = "";

                number_elements.on("input", function (e) {
                    if(allow_delete){
                        $(this).val("");
                        allow_delete = false;
                        last_correct_value = "";
                        return;
                    }

                    if(this.value < 0){
                        this.value = 0;
                    }


                    if(!this.value){
                        this.value = last_correct_value;
                        $(this.parentElement).find(".error_msg").text("Bitte nur Ziffern von 0-9 eingeben");
                    }else{
                        last_correct_value = this.value.toString();
                        $(this.parentElement).find(".error_msg").text("");
                    }
                });

                number_elements.on("keydown", function(e){
                    last_correct_value = this.value.toString();
                    let key = event.keyCode || event.charCode;
                    if( key == 8 || key == 46 ){
                        allow_delete = true;
                    }
                });
        };

        allow_only_numbers_for_number_fields();


        let clear_error_and_success_fields = function(){
            let form_groups = $("#main_form .form-group");
            form_groups.each(function(index){
                let form_group = $(this);
                let error_field_el = form_group.find(".error_msg");
                error_field_el.text("");
                let success_field_el = form_group.find(".success_msg");
                success_field_el.css("display", "none");
                form_group.attr("class", form_group.attr("class").replace(" has-error", ""));
                form_group.attr("class", form_group.attr("class").replace(" has-success", ""));
            });
        };

        let apply_initial_form_state = function(submit_request_btn, original_button_text){
            let success_box = document.getElementById("success_box");
            success_box.style.display = "none";
            let error_box = document.getElementById("error_box");
            error_box.style.display = "none";
            let error_in_field_box = document.getElementById("error_in_field_box");
            error_in_field_box.style.display = "none";
            submit_request_btn.removeAttribute("disabled");
            submit_request_btn.style.opacity = "";
            submit_request_btn.innerText = original_button_text;
        };

        let validate_form = function(responseJSON, submit_request_btn, original_button_text){
            /*let success_box = document.getElementById("success_box");
            success_box.style.display = "none";
            let error_box = document.getElementById("error_box");
            error_box.style.display = "none"; */
            apply_initial_form_state(submit_request_btn, original_button_text);
            let error_in_field_box = document.getElementById("error_in_field_box");
            error_in_field_box.style.display = "";

            let errors = responseJSON.errors;

            for (let i = 0; i < Object.keys(errors).length; i++) {
                let error_field_name = Object.keys(errors)[i];
                let error_messages = errors[error_field_name];

                let form_group = $("#" + error_field_name).closest(".form-group");
                let error_field = form_group.find(".error_msg");


                error_field.text(error_messages);

                form_group.attr("class", form_group.attr("class").replace(" has-error", ""));
                form_group.attr("class", form_group.attr("class").replace(" has-success", ""));
                form_group.attr("class", form_group.attr("class") + " has-error");
                form_group.find(".success_msg").css("display", "none");
                form_group.find(".error_icon").css("display", "");
            }

            let form_groups = $("#main_form .form-group");

            form_groups.each(function(index){
                let form_group = $(this);
                let error_field_el = form_group.find(".error_msg");

                //alert(Object.keys(errors) + " : " + error_field_el.attr("id"));

                let input = form_group.find("input");
                if(!input.attr("id")){
                    input = form_group.find("select");
                }

                if(!Object.keys(errors).includes(input.attr("id"))){
                    form_group.attr("class", form_group.attr("class").replace(" has-error", ""));
                    form_group.attr("class", form_group.attr("class").replace(" has-success", ""));
                    form_group.attr("class", form_group.attr("class") + " has-success");
                    error_field_el.text("");
                }

                if(!error_field_el.text()){
                    form_group.attr("class", form_group.attr("class").replace(" has-success", ""));
                    form_group.attr("class", form_group.attr("class").replace(" has-error", ""));
                    form_group.attr("class", form_group.attr("class") + " has-success");
                    let success_field_el = form_group.find(".success_msg");
                    form_group.find("error_icon").css("display", "none");
                    success_field_el.css("display", "");

                }

            });

            // focus first error field
             $("#main_form .form-group .error_msg").each(
                 function (index) {
                     if($(this).text()){

                         let form_group = $(this).closest(".form-group");
                         let input = form_group.find("input");
                         if(!input.attr("id")){
                            input = form_group.find("select");
                         }

                         input.focus();
                         input.scroll();
                         return false;
                     }
                 }

             );

        };

        document.getElementById("flight_from").focus();

        document.getElementById("submit_request").onclick = function (e) {
            // main()
            this.disabled = true;
            this.style.opacity = "0.5";
            let original_button_text = this.innerText;
            this.innerText = "In Bearbeitung ... ";
            let flight_from = document.getElementById("flight_from").value;
            let flight_to = document.getElementById("flight_to").value;
            let amount_adults = document.getElementById("adults").value;
            let amount_children = document.getElementById("children").value;
            let departure_date = document.getElementById("departure_date").value;
            let return_flight_date = document.getElementById("return_flight_date").value;
            let travel_class = document.getElementById("travel_class").options[document.getElementById("travel_class").selectedIndex].value;
            let flight_type_selection = $_1('input[name="flight_type"]:checked');
            let flight_type = "";
            if (flight_type_selection.length > 0) {
                flight_type = flight_type_selection.val();
            }
            let phone = document.getElementById("phone").value;

            let submit_request_btn = this;

            $.ajax({
                method: "POST",
                url: "{% url 'request:mail' %}",
                data: {
                    flight_from: flight_from, flight_to: flight_to, adults: amount_adults,
                    children: amount_children, departure_date: departure_date,
                    return_flight_date: return_flight_date, "csrfmiddlewaretoken": "{{ csrf_token }}",
                    travel_class: travel_class, flight_type: flight_type, phone: phone
                }
            })
                .done(function (data) {
                    apply_initial_form_state(submit_request_btn, original_button_text);
                    clear_error_and_success_fields();
                    document.getElementById("main_form").reset();
                    let success_box = document.getElementById("success_box");
                    success_box.style.display = "";
                }).fail(function (data) {

                apply_initial_form_state(submit_request_btn, original_button_text);

                let responseJSON = data.responseJSON;

                if(!responseJSON){
                    let error_box = document.getElementById("error_box");
                    error_box.style.display = "";
                }


                if (responseJSON.message == "form_error") {
                    validate_form(responseJSON, submit_request_btn, original_button_text);
                }else{
                    let error_box = document.getElementById("error_box");
                    error_box.style.display = "";
                    clear_error_and_success_fields();
                }
            });

        };

        let regExp = /^[0-9 ()+-]+$/; // ALLOWS ONLY NUMBERS AN + and - and ()

        document.getElementById("phone").oninput = function(e){
            //this.value = this.value.replace(/\D/g,'');
            let phone_input = this;
            $.ajax(
                {
                    method: "GET",
                    url: "{% url 'validate_phone' %}",
                    data: {phone: phone_input.value},
                }
            ).done(function (data) {
                //let selection_start = phone_input.selectionStart;
                phone_input.value = data.phone;

                //phone_input.setSelectionRange(selection_start, selection_start);
                document.getElementById("phone_country_code").className = "flag-icon flag-icon-" + data.country_code.toLowerCase().trim();
            })
        };


        $( "#phone" ).on( "keydown", function( event ) {
            let key = event.which || event.keyCode;

            if( key == 8){
                this.value = this.value.trimRight();
            }

            if(key == 46){
                this.value = this.value.trimRight();
            }
        });



    });
</script>