<div class="container-fluid" style="background:white;padding-top:40px;padding-bottom:40px;min-height:235px;">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4 text-center">
                <h3>
                    <span class="glyphicon glyphicon-euro"></span>
                </h3>
                <h3>
                    Gutschein auswählen
                </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>
                    <span class="glyphicon glyphicon-credit-card"></span>
                </h3>
                <h3>
                    Kreditkarte eintragen
                </h3>
            </div>
            <div class="col-md-4 text-center">
                <h3>
                    <span class="glyphicon glyphicon-ok"></span>
                </h3>
                <h3>
                   Lösen Sie bei Ihrer nächsten Bestellung Ihren Gutschein ein
                </h3>
            </div>
        </div>
    </div>
</div>
