{% load static %}
<div class="container-fluid" style="padding-top:5px;margin-bottom:0;border-top:1px dashed;">
    <div class="container">
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="padding:25px;padding-bottom: 0;">
                    <h4>Flugrouten</h4>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="padding:0;">
            <div class="col-md-12">
                <div class="col-md-12" style="background:white;border-radius:10px;padding:25px;padding-top:0;">
                    Hinter der offiziellen Bezeichnung Flugroute verbirgt sich die Strecke eines Flugzeuges, und zwar aus geografischer Sicht gesehen. Eine Route hat im Allgemeinen nichts mit der Flugstrecke zu tun, denn diese bezieht sich allein auf die Länge. Jede Route, egal in welches Land oder an welchen Ort sie führt, beginnt und endet an einem Flughafen. Dabei spielt es keine Rolle, wie groß oder klein dieser Flughafen oder Flugplatz ist. Entscheidend ist immer, dass die jeweilige Route auch fliegbar ist und allgemein als sicher gilt.
                    Flugrouten können im unkontrollierten und kontrollierten Luftraum erfolgen. Es obliegt der Verantwortung und den Aufgaben des Piloten oder jeweiligen Flugdienstleiters, bereits vor dem Abflug die beste Route für den jeweiligen Flug zu wählen. Dabei spielen aber auch noch andere Faktoren eine Rolle, wie etwa Wetterbedingungen oder eventuelle Kapazitätseinschränkungen.
                </div>
            </div>
        </div>
    </div>
</div>
